/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: black;
}


/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
.jumbotron {
	margin-bottom: 0px;
    background-image: url(../img/header.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 600px;
    
}
#navbar {
	color: hotpink;
}
#thumbs {
	margin-top: 5em;
}
.thumbnail {
	background-color: hotpink;
	border:  5px solid indigo;
}