/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 5rem;
  background-color: black;
  font-family: 'Cardo', serif;
}

h1 {
	font-family: 'Kaushan Script', cursive;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
.jumbotron {
	margin-bottom: 0px;
    background-image: url(../img/header.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #bca371;
    min-height: 600px;  
}

/* custom background color navigation bar */
.nav-background-color {
	background-color: #c97064;
}

.navbar {
	font-family: 'Fira Sans', sans-serif;
}

.navbar-brand {
	color: black;
}

 /* unvisited link */
 a:link {
    color:black;
}


/* mouse over link */
a:hover {
    color: grey;
}
nav li a {
	color: black;
	font-family: 'Fira Sans', sans-serif;
}

/* custom button color register form */
.button-custom-color {
	background-color: #a6b07e;
	border-color: #bca371;
}

#title {
	margin-top: 12em;
	margin-left: 23em;
}
#thumbs {
	margin-top: 5em;
}
.thumbnail {
	background-color: hotpink;
	border:  5px solid indigo;
}
/* Button Style override thumbnails*/
.indigo-background {
	background-color: 	#4B0082;
}
.white {
	color: #FFFFFF;
}
.caption {
	text-align:  center;
}
footer {
	text-align:  center;
}

/* css for a_create.php */
.alert {
    margin-top: 8em;
    font-size: 2em;
} 